# Sample Data for Final Project

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('demo_data.csv', header=0)

In [3]:
df.describe()

,CustomerKey,VisitCount,VisitNumber,PriorVisits,SaleLines,ReturnLines,NetAmount,UniqueItems,UniqueCategories,HasRetailProducts,HasQSRProducts,ReturnedBags,WillReturn
count,100000.000000,100000.00000,100000.000000,100000.000000,99767.000000,99767.000000,99767.000000,99767.000000,99767.000000,99767.000000,99767.000000,99767.000000,100000.000000
mean,224326.619800,7.77551,5.480610,4.480610,3.657642,0.025349,28.401342,3.416761,2.225175,0.703229,0.390540,0.022533,0.445150
std,129950.331094,17.07087,12.317853,12.317853,4.163389,0.169577,44.834917,3.735178,1.788623,0.456837,0.487874,0.148408,0.496985
min,5.000000,1.00000,1.000000,0.000000,0.000000,0.000000,-139.800000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,112964.000000,1.00000,1.000000,0.000000,1.000000,0.000000,8.300000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,220586.000000,2.00000,2.000000,1.000000,2.000000,0.000000,15.340000,2.000000,1.000000,1.000000,0.000000,0.000000,0.000000
75%,336979.000000,7.00000,4.000000,3.000000,4.000000,0.000000,33.450000,4.000000,3.000000,1.000000,1.000000,0.000000,1.000000
max,453986.000000,246.00000,199.000000,198.000000,80.000000,10.000000,6793.920000,61.000000,15.000000,1.000000,1.000000,1.000000,1.000000

In [4]:
df.sample(10)

,TicketDate,TicketTime,CustomerKey,VisitCount,VisitNumber,PriorVisits,SaleLines,ReturnLines,NetAmount,StationGroup,UniqueItems,UniqueCategories,HasRetailProducts,HasQSRProducts,ReturnedBags,WillReturn
31048,10/4/2015,19:10:10,409721,3,2,1,8,0,47.21,Front End,8,5,1,0,0,1
50949,10/12/2015,12:35:46,58482,2,1,0,1,0,11.80,Other,1,1,0,1,0,1
84855,10/28/2015,13:29:14,100681,8,4,3,13,0,68.31,Front End,9,5,1,1,0,1
29744,10/3/2015,17:56:42,149540,2,1,0,4,0,33.40,Other,4,2,1,1,0,1
7160,9/23/2015,16:50:14,274367,2,2,1,2,0,26.53,Front End,2,2,1,0,0,0
48498,10/11/2015,22:21:21,193032,1,1,0,2,0,11.76,Other,2,1,0,1,0,0
31265,10/4/2015,17:36:30,450446,8,8,7,2,0,7.00,Front End,2,1,1,0,0,0
12530,9/25/2015,13:23:16,233303,1,1,0,1,0,4.50,Other,1,1,0,1,0,0
78954,10/24/2015,15:54:19,134793,2,2,1,1,0,10.80,Other,1,1,0,1,0,0
65602,10/19/2015,17:51:16,186376,23,16,15,14,0,92.58,Front End,14,7,1,0,0,1